<div class="create-page">

    <h1 class="page-title">Add your favorite place</h1>
    <p>
        New logic and form to be incerted together with dinamic creation of places in database
    </p>
</div>