<div class="home-body">
    <div>
    <h1 class="home-title">Under construction</h1>
    <p> New logic and form to be incerted together with dinamic creation of places in database</p>
    </div>

</div>