.page-title,
.home-title {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.place-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    align-content: center;
    align-items: flex-start;
    height: auto; /* Changed from 100vh to auto for better responsiveness */
    overflow: hidden; /* Prevent overflow of items */
}

.place-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px; /* Adjusted margin to ensure spacing is maintained */
    text-align: center;
    
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.place-item img {
    height: 250px;
    width: 100%;
    object-fit: cover; /* Ensure images maintain aspect ratio */
}

.card-body {
    padding: 10px;
}

.card-title {
    min-height: 50px;
    font-size: 26px;
}

.card button {
    margin: 10px;
}

.home-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
}

.list-page {
    background-color: rgb(97, 90, 78);
    padding-top: 60px; /* Add padding to avoid navbar overlap */
    min-height: 1000px;
}

/* Media queries for responsiveness */
/* @media (max-width: 1200px) {
    .place-item {
        
       
    }
}

@media (max-width: 960px) and (min-width: 900px) {
    .place-item {
        
   
    }
}

@media (max-width: 900px) {
    .place-item {
       
     
    }
}

@media (max-width: 600px) {
    .place-item {
       
        max-width: 100%;
    }
} */
